body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, form, fieldset, input, textarea, p, blockquoteth, td { margin: 0px; padding: 0px;}
h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }
ul, ol { list-style: none; }
img{margin:0;padding:0;}
a{text-decoration:none;color:#333;}
em,i{font-style: normal;}
body{
	font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 1em;
    background-color: #F3F3F3;
    z-index: 111;
}
@media screen and (max-width:320px) {
	body{font-size:0.9em;}
}
@media screen and (min-width:321px) and (max-width:400px){
	body{font-size:1em;}
}
input{
	background: none;
	font-family: 'Microsoft Yahei';
}



.top{
	width: 100%;
	background: url(/home/index/bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.top .people{
	width: 100%;
	margin:0 auto;
	overflow: hidden;
}
.top .people .left_pp{
	width: 120px;
    height: 120px;
    display: block;
    position: relative;
    margin: auto;
    
}
.top .people .left_pp .pic_kk{
	width: 120px;
    height: 120px;
    opacity: .6;    
    border-radius: 100px;
    background-color: #fff;
    margin-top: 30%;
}
.top .people .left_pp img{
	width: 120px;
    height: 120px;    
    position: absolute;
    top: 3px;
    border-radius: 60px;
}
.top .people .right_pp{
	
	margin-top: 1%;
	width: 66%;
}

@media screen and (min-width:360px) and (max-width:384px){
	.top .people .right_pp{
		width: 100%;
		height: 3rem;
	}
}

@media screen and (min-width:414px) {
	.top .people .right_pp{
		width: 100%;
	}
}
.top .people .right_pp .name{
	color: #fff;
	padding-bottom: 1.5%;
	text-align: center;
}
.top .people .right_pp .name h1{
	font-size: 1.8em;
	display: inline-block;
	letter-spacing: 0.1em;
	
}
.top .people .right_pp .name span{
	display: inline-block; 
	width: 20px; 
	height: 20px;
	margin-bottom: -4px;
}
.top .people .right_pp .name span.vip{
	background: url(../images/vip.png) no-repeat center center;
	background-size: 100%;
} 
.top .people .right_pp .name span.no_vip{
	background: url(../images/no_vip.png) no-repeat center center;
	background-size: 100%;
}
.top .people .right_pp .name span.all_life{
	background: url(../images/life.png) no-repeat center center;
	background-size: 100%;
}
.top .people .right_pp .name em{
	margin-left: 1%; 
	display: inline-block; 
	width: 24px; 
	height: 24px; 
	margin-bottom: -6px;
}
.top .people .right_pp .name em.real{
	background: url(../images/real.png) no-repeat center center;
	background-size: 100%;
}
.top .people .right_pp .name em.no_real{
	background: url(../images/no_real.png) no-repeat center center;
	background-size: 100%;
}
.top .people .right_pp .name i{
	width: 20px;
	height: 20px;
	display: inline-block; 
	margin-left: 5px;
	float: left;
	margin-top: -5px; 
	margin-right: -5px; 
}
.top .people .right_pp .name a{
	color:#fff;
	display: inline-block;
	text-align: right;
	vertical-align: 1px;
	margin-bottom: -3px;
	/* overflow: hidden; */
}
.top .people .right_pp .name i img{
	width: 100%;
	display: block;
}
.top .people .right_pp .xiaoshou{
	font-size: 1.2em;
	letter-spacing: 0.1em;
	margin-top: 1%;
	color: #fff;
}

.top .tubiao{
	width: 90%;
	margin: 0 auto;
	position: relative;
        text-align: center;
}

.top .tubiao a{
	width: 19.9%;
	display: inline-block;

	text-align: center;
	font-size: 0.9em;
	color:#fff;
/*	margin-right: 2%;
	line-height: 2em;*/
	margin: 2% 1%;
}
.top .tubiao p{
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0;
	height: 100%;
	line-height: 4.2em;
	background-color: #fff;
	opacity: 0.9;
	color: #000;
	font-size: 1.35em;
	text-align: center;
	/*padding-left: 5%;*/
	border-radius: 5px;
}
.top .tubiao p span{
	/*padding-left: 5%; */
}
.top .tubiao p em{
	position: absolute;
	right: 5%;
	top: 0px;
	font-size: 1.1em;
}
.top .tubiao a em{
	width: 56px;
	height: 56px;
	line-height: 56px;
	border-radius: 56px;
	background-color: #fff;
	display: inline-block;	
	opacity: 0.85;
}
.top .tubiao a em.yellow{
	background-color:#fff ;
	opacity: 1;
}

.top .tubiao a em i{
	font-size: 2em;
	color: #fff;
	line-height: 56px;
	opacity: 1;
}


.top .qianm{
	width: 100%;
	margin-top:2%; 
	overflow: hidden;
}

.top .qianm p{
	color:#fff;
	border-top:rgba(255,255,255,.2) solid 1px;
	border-left: none;
	border-right: none;
	border-left: none;
	border-right:none;
	line-height: 2.5em;
	
}
.top .qianm p a{
    float:left;
	color:#fff;
	padding-right: 5%;
    padding-left: 5%;
	margin-right: 3%;
	background: url(../images/voice3.png) no-repeat right center;
	background-size: 15%;
}

.list{
	width: 100%;
	border-top: 4px solid cornflowerblue;
}
.list table{
	width: 100%;
	border:none;	
} 
.list table tr td{
	font-size: 1em;
	line-height: 1.2rem;
	width: 100%;
	float: left;	
	font-family: 'Microsoft Yahei';
	border:none;
	
}
.list table tr td.one{	
	background-color: #fff;
	margin-bottom: 4%;
	height: 4rem;
		
}
.list table tr td.two{
	background-color:#fff;
	margin-bottom: 4%;
	height: 4rem;
}
.list table tr td.three{
	background-color:#fff;
	margin-bottom: 4%;
	height: 4rem;
}
.alert{
	width: 90%;
	position: absolute;
	top: 40%;
	left: 2%;
	line-height: 4.2em;
	background: #000;
	opacity: 0.9;
	color: #fff;
	font-size: 1.35em;
	padding-left: 5%;
	display: none;
}
.alert i{
	float: right;
	margin-right: 3%;
}




.list table tr td img{
	
    margin-right: 4%;
    float: left;
    width: 2rem;
    height: 2rem;
    margin-left: 5%;
    margin-top: 15px;
}

.copyright{
	width: 100%;
	text-align: center;
	color: #000;
	margin-top: 3%;
	font-size: 1em;
	
}
.copyright p{
	width: 100%;
	line-height: 1.3em;
	color: #BFBFBF;
}
.copyright p a{
	color: #BFBFBF;
	padding: 0 5%;
	line-height: 2em;
	border-right: 1px solid #797979;

}
.mmm{
	background-color:#999999; 
	position:fixed; 
	top:0%; 
	left:0%; 
	width:100%;
	height:100%; 
	opacity:0.7; 
	display:none;
	z-index:1001;
}

.share_zy{
	width:70%;
	margin:50% auto; 
	border-radius:4px;
	background-color:#fff;
	position:fixed;
	top:0%;
	left:15%;
	display:none;
	z-index:1002;
	
}
.share_zy .zhuye_head{
	width:100%;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:1.3em;
	color:#000;
	border-bottom:#ccc solid 1px;
}
.share_zy .zhuye_head a{
	float:left;
	background-image:url(../images/del_2.png);
	background-size:22px 22px;
	width:22px;
	height:22px;
	margin-top:4%;
	margin-left:5%;
	
}
.share_zy .bot{
	width:90%;
	margin:0 auto;
	overflow:hidden;
}
.share_zy .bot ul{
	width:100%;
	margin:5% auto;
	overflow:hidden;
}
.share_zy .bot ul li{
	width:32%;
	float:left;
	text-align:center;


}
.share_zy .bot ul li img{
	width:75%;
	margin:0 auto;
}
/*---------------------*/
#share-box{position: fixed; top: 30%; z-index: 999; left: 50%; width: 310px; margin-left: -157px; border: 1px solid #ccc; background: #fff; display: none;}#share-box .s-title{height: 2.4em; line-height: 2.4em; font-size: 1.2em;padding: 0 0.5em; position: relative;}#share-box .s-title a{position: absolute; right: 0; top: 0; padding: 0 0.5em; font-size: 1.3em;}#share-box .share-list{padding: 5px 0; width: 300px; margin: 0 auto; text-align: center;text-align: center;}#share-box .share-list a {display: inline-block; width: 90px; text-align: center; height: 80px; line-height: 22px; font-size: 1em;margin-bottom:.8rem}#share-box .share-list a img {display: block; width: 50px; text-align: center; height: 50px;margin-left:20px}#share-box .share-list a p {display: block; height:25px;line-height:25px;text-align: center;margin-top: 5px;}#weixin{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99999; text-align: center; background: rgba(0,0,0,0.5); display: none; z-index: 99999999;}#weixin .w-tips{display: none;}#weixin div{color: #fff; line-height: 3em; padding: 4em 0; display: none;}#weixin img{display: block; margin: 0 auto; max-width: 100%;}#weixin a{display: block; position: absolute; top: 0.8em; left: 0.8em; font-size: 2em; color: #fff;}
