@CHARSET "UTF-8";
.b12 {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.h12l20 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.h12l20:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.h12l20:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #ff6600;
	text-decoration: none;
}
.h14 {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.h14:link {
	font-family: "宋体";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.h14:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff6600;
	text-decoration: none;
}
.menu14 {
	font-family: "宋体";
	font-size: 14px;
	color: #515151;
	text-decoration: none;
	letter-spacing: 0.1em;

}
.menu14:link {
	font-family: "宋体";
	font-size: 14px;
	color: #515151;
	text-decoration: none;
	letter-spacing: 0.1em;

}
.menu14:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff6600;
	text-decoration: none;
	letter-spacing: 0.1em;

}
.lpic {
	background-image: url(outline/lpic.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.dir12 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #3D849B;
	text-decoration: none;
}
.dir12:link {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #3D849B;
	text-decoration: none;
}
.dir12:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	/* color: #ff6600; */
	/* text-decoration: underline; */
}
.h12l28 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 28px;
	color: #333333;
	text-decoration: none;
}
.h12l28:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 28px;
	color: #333333;
	text-decoration: none;
}
.h12l28:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 28px;
	color: #ff6600;
	text-decoration: none;
}
.kaitit {
	font-family: "楷体_GB2312";
	font-size: 21px;
	font-weight: bold;
	color: #E77421;
	text-decoration: none;
}
.time12 {
	font-family: "宋体";
	font-size: 12px;
	color: #628BA5;
	text-decoration: none;
}
.h14l22 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	text-decoration: none;
}

.bgctop {
	background-image: url(../images/bgtop.gif);
	background-repeat: no-repeat;
	background-position: top;
}
.title20 {
	font-family: "楷体_GB2312";
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.title18 {
	font-family: "楷体_GB2312";
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.inf12 {
	font-family: "宋体";
	font-size: 12px;
	color: #207291;
	text-decoration: none;
}
.t14l24 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.xg12 {
	font-family: "宋体";
	font-size: 12px;
	color: #2B5A6C;
	text-decoration: none;
}
.xg12:link {
	font-family: "宋体";
	font-size: 12px;
	color: #2B5A6C;
	text-decoration: none;
}
.xg12:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #ff6600;
	text-decoration: underline;
}
.bgctop {
    background-image: url(../images/bgtop.gif);
    background-repeat: no-repeat;
    background-position: top;
}
style type="text/css">
<!--
.bgctop {
	background-image: url(/images/detail/bgtop.gif);
	background-repeat: no-repeat;
	background-position: top;
}
.title20 {
	font-family: "楷体_GB2312";
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.title18 {
	font-family: "楷体_GB2312";
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.inf12 {
	font-family: "宋体";
	font-size: 12px;
	color: #207291;
	text-decoration: none;
}
.t14l24 {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.xg12 {
	font-family: "宋体";
	font-size: 12px;
	color: #2B5A6C;
	text-decoration: none;
}
.xg12:link {
	font-family: "宋体";
	font-size: 12px;
	color: #2B5A6C;
	text-decoration: none;
}
.xg12:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #ff6600;
	text-decoration: underline;
}
